<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>

<h3>登录页面</h3>

<hr>

<div>

    <form action="/user/login" method="post"><br/>
        <label>用户名：</label><input type="text" name="username"><br/><br/>
        <label>密   码：</label><input type="text" name="password"><br/><br/>
        <label>验证码：</label><input type="text" name="code"><img src="/auth/vcode"><br/><br/>
        <label>记住我</label><input type="checkbox" name="remember-me"><br/><br/>
        <input type="submit">
    </form>
</div>
</body>
</html>